@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* BODY AND ALL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora';
}

body{
    margin-top: 150px;
    padding-left: 48px;
    padding-right: 16px;
    background-color: #FAFAF9;
    display: flex;
}

section{
    max-width: 1200px; 
    max-height: 720px;
    margin: auto;
    display: flex;
    position: relative;
}

/* CONTENEDOR TEXTO */

#text{
    width: 50%;
    padding-right: 50px;
}

/* IMAGEN ESTRELLA IZQ */

#contenedor-img-estrella{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F5C044;
    text-align: center;
}

/* TITULO */

h1{
    font-size: 36px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
    font-weight: 400;
    color: #52525a;
    line-height: 1.6;
    margin-bottom: 32px;
}

ul{
    list-style: none;
}
ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #52525a;
}


/* DIV DERECHA 1 */

#imagenes-derecha{
    padding-right: 150px;
}

/* GOOGLE */

#google{
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 55px;
    width: 350px;
    margin-top: 5px;
    margin-right: 70px;
    height: fit-content;
    border-radius: 16px;
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 5px 5px 10px #565656, 0px 0px 0px #8a8a8a;
}


#imagen-y-estrella{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#google #img-google{
    width: 100px;
    margin-right: 20px;
    
}

#google h2{
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
}

#google p{
    font-size: 16px;
    margin: 0;
}

/* META */

#meta{
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 30px;
    width: 350px;
    margin-bottom: 0px;
    margin-right: 250px;
    height: fit-content;
    border-radius: 16px;
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 5px 5px 10px #565656, 0px 0px 0px #8a8a8a;
    
}


#imagen-y-estrella{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#meta #img-google{
    width: 100px;
    margin-right: 20px;
    
}

#meta h2{
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
}

#meta p{
    font-size: 16px;
    margin: 0;
}